.sprite_desktop_tdn_v6-150dpi{ background:url("sprite_desktop_tdn_v6-150dpi.png") top left no-repeat; }
.logo{ width:495px; height:421px; background-position:-10px -10px; }
.centre_picto-shopping-1{ width:358px; height:302px; background-position:-515px -10px; }
.centre_picto-shopping-2{ width:321px; height:302px; background-position:-10px -441px; }
.commu_silhouettes{ width:440px; height:293px; background-position:-341px -441px; }
.commu_nana-semaine{ width:248px; height:279px; background-position:-791px -441px; }
.centre_picto_qdn1{ width:389px; height:256px; background-position:-10px -753px; }
.centre_picto_qdn2{ width:390px; height:256px; background-position:-409px -753px; }
.centre_picto-shopping-3{ width:286px; height:225px; background-position:-10px -1019px; }
.centre_concours{ width:195px; height:173px; background-position:-809px -753px; }
.right_logo-tdn-puce{ width:129px; height:156px; background-position:-883px -10px; }
.commu_nana{ width:138px; height:154px; background-position:-306px -1019px; }
.centre_bulle-question_droite{ width:152px; height:136px; background-position:-454px -1019px; }
.bulle_question_actu{ width:152px; height:136px; background-position:-616px -1019px; }
.bulle_question_recettes{ width:152px; height:136px; background-position:-778px -1019px; }
.bulle_question_sexo{ width:152px; height:136px; background-position:-10px -1254px; }
.bulle_question_beaute{ width:152px; height:136px; background-position:-172px -1254px; }
.bulle_question_deco{ width:152px; height:136px; background-position:-334px -1254px; }
.bulle_question_bienetre{ width:152px; height:135px; background-position:-496px -1254px; }
.bulle_question_mode{ width:152px; height:135px; background-position:-658px -1254px; }
.bulle_question_geek{ width:152px; height:135px; background-position:-820px -1254px; }
.centre_bulle-nana{ width:99px; height:125px; background-position:-940px -1019px; }
.mytdn_picto{ width:329px; height:125px; background-position:-10px -1400px; }
.centre_qdn{ width:121px; height:122px; background-position:-349px -1400px; }
.centre_videos{ width:120px; height:122px; background-position:-480px -1400px; }
.centre_conseils{ width:121px; height:122px; background-position:-610px -1400px; }
.centre_redac{ width:121px; height:122px; background-position:-741px -1400px; }
.picto_message_info{ width:121px; height:121px; background-position:-872px -1400px; }
.picto_message_alerte{ width:120px; height:121px; background-position:-10px -1535px; }
.right_instagram-bloc{ width:119px; height:121px; background-position:-140px -1535px; }
.commu_degrade{ width:1041px; height:113px; background-position:-10px -1666px; }
.centre_bulle-conseils{ width:118px; height:106px; background-position:-269px -1535px; }
.centre_bulle-question_gauche{ width:118px; height:106px; background-position:-397px -1535px; }
.commu_nombre{ width:233px; height:104px; background-position:-525px -1535px; }
.right_concours{ width:102px; height:102px; background-position:-768px -1535px; }
.right_dossier{ width:102px; height:102px; background-position:-880px -1535px; }
.right_redac1{ width:102px; height:102px; background-position:-10px -1789px; }
.right_conseils{ width:98px; height:98px; background-position:-122px -1789px; }
.right_redac2{ width:98px; height:98px; background-position:-230px -1789px; }
.picto_profil{ width:98px; height:98px; background-position:-338px -1789px; }
.picto_quiz{ width:98px; height:98px; background-position:-446px -1789px; }
.Picttitre_recherche{ width:98px; height:98px; background-position:-554px -1789px; }
.picto_dossier{ width:98px; height:98px; background-position:-662px -1789px; }
.picto_redacs{ width:98px; height:98px; background-position:-770px -1789px; }
.picto_conseils{ width:98px; height:98px; background-position:-878px -1789px; }
.picto_videos{ width:98px; height:98px; background-position:-10px -1901px; }
.picto_concours{ width:98px; height:98px; background-position:-118px -1901px; }
.picto_qdn{ width:98px; height:98px; background-position:-226px -1901px; }
.right_qdn{ width:107px; height:96px; background-position:-334px -1901px; }
.search_conseils{ width:93px; height:94px; background-position:-451px -1901px; }
.search_questions{ width:94px; height:94px; background-position:-554px -1901px; }
.search_videos{ width:93px; height:94px; background-position:-658px -1901px; }
.search_concours{ width:94px; height:94px; background-position:-761px -1901px; }
.search_dossiers{ width:93px; height:94px; background-position:-865px -1901px; }
.search_shopping{ width:94px; height:94px; background-position:-10px -2009px; }
.search_articles{ width:93px; height:94px; background-position:-114px -2009px; }
.sprite_r86_centre_bulle_recettesc108{ width:102px; height:90px; background-position:-217px -2009px; }
.centre_bulle_sexo{ width:102px; height:90px; background-position:-329px -2009px; }
.centre_bulle_bienetre{ width:102px; height:90px; background-position:-441px -2009px; }
.centre_bulle_deco{ width:102px; height:90px; background-position:-553px -2009px; }
.centre_bulle_mode{ width:102px; height:90px; background-position:-665px -2009px; }
.centre_bulle_beaute{ width:102px; height:90px; background-position:-777px -2009px; }
.centre_bulle_geek{ width:102px; height:90px; background-position:-889px -2009px; }
.centre_bulle_actu{ width:102px; height:90px; background-position:-10px -2113px; }
.right_like-facebook{ width:213px; height:90px; background-position:-122px -2113px; }
.centre_shop_left{ width:84px; height:88px; background-position:-345px -2113px; }
.centre_shop_right{ width:84px; height:88px; background-position:-439px -2113px; }
.dossier_nav-1{ width:46px; height:84px; background-position:-982px -1254px; }
.dossier_nav-2{ width:79px; height:84px; background-position:-968px -1901px; }
.dossier_nav-3{ width:79px; height:84px; background-position:-533px -2113px; }
.dossier_nav-4{ width:97px; height:84px; background-position:-622px -2113px; }
.dossier_nav-5{ width:98px; height:84px; background-position:-729px -2113px; }
.centre_escarpins_aide_big{ width:147px; height:83px; background-position:-837px -2113px; }
.footer_aufemin{ width:283px; height:83px; background-position:-10px -2213px; }
.centre_vote{ width:73px; height:83px; background-position:-303px -2213px; }
.centre_reponse{ width:63px; height:83px; background-position:-986px -1789px; }
.centre_reponse-big{ width:71px; height:81px; background-position:-386px -2213px; }
.centre_vote-big{ width:82px; height:81px; background-position:-467px -2213px; }
.logo_mytdn{ width:162px; height:71px; background-position:-559px -2213px; }
.centre_shop-news{ width:75px; height:66px; background-position:-731px -2213px; }
.sprite_desktop_150dpi_r12_c93{ width:73px; height:65px; background-position:-816px -2213px; }
.nav_concours{ width:73px; height:65px; background-position:-899px -2213px; }
.right_logo_tdn{ width:115px; height:65px; background-position:-10px -2306px; }
.nav_videos{ width:73px; height:65px; background-position:-135px -2306px; }
.nav_quiz{ width:73px; height:65px; background-position:-218px -2306px; }
.nav_conseils{ width:73px; height:65px; background-position:-301px -2306px; }
.nav_redac{ width:73px; height:65px; background-position:-384px -2306px; }
.nav_dossiers{ width:73px; height:65px; background-position:-467px -2306px; }
.mytdn_3b{ width:68px; height:61px; background-position:-982px -2213px; }
.mytdn_3a{ width:69px; height:61px; background-position:-550px -2306px; }
.mytdn_4b{ width:69px; height:61px; background-position:-629px -2306px; }
.mytdn_2a{ width:69px; height:61px; background-position:-708px -2306px; }
.mytdn_2b{ width:69px; height:61px; background-position:-787px -2306px; }
.mytdn_1b{ width:68px; height:61px; background-position:-866px -2306px; }
.mytdn_4a{ width:69px; height:61px; background-position:-944px -2306px; }
.mytdn_1a{ width:69px; height:61px; background-position:-10px -2381px; }
.centre_legende_reponse{ width:46px; height:56px; background-position:-1003px -1400px; }
.centre_legende_{ width:54px; height:56px; background-position:-992px -1535px; }
.right_facebbok{ width:52px; height:53px; background-position:-994px -2113px; }
.right_instagram{ width:52px; height:53px; background-position:-89px -2381px; }
.right_twitter{ width:52px; height:53px; background-position:-151px -2381px; }
.right_pinterest{ width:52px; height:53px; background-position:-213px -2381px; }
.right_google{ width:52px; height:53px; background-position:-275px -2381px; }
.right_appli{ width:52px; height:53px; background-position:-337px -2381px; }
.right_youtube{ width:52px; height:53px; background-position:-399px -2381px; }
.picto_closed{ width:46px; height:46px; background-position:-1001px -2009px; }
.centre_escarpins_0{ width:244px; height:46px; background-position:-461px -2381px; }
.centre_escarpins_1{ width:243px; height:46px; background-position:-715px -2381px; }
.centre_escarpins_2{ width:246px; height:46px; background-position:-10px -2452px; }
.centre_escarpins_3{ width:245px; height:46px; background-position:-266px -2452px; }
.centre_escarpins_5{ width:244px; height:46px; background-position:-521px -2452px; }
.centre_escarpins_aide{ width:79px; height:46px; background-position:-968px -2381px; }
.centre_escarpins_4{ width:243px; height:46px; background-position:-775px -2452px; }
.mytdn_open{ width:46px; height:44px; background-position:-10px -2508px; }
.mytdn_closed{ width:46px; height:44px; background-position:-66px -2508px; }
.right_loupe{ width:44px; height:43px; background-position:-122px -2508px; }
.social_mail{ width:48px; height:42px; background-position:-176px -2508px; }
.social_facebook{ width:46px; height:42px; background-position:-234px -2508px; }
.social_coeur{ width:40px; height:42px; background-position:-290px -2508px; }
.social_twitter{ width:52px; height:42px; background-position:-340px -2508px; }
.social_print{ width:40px; height:42px; background-position:-402px -2508px; }
.sprite_desktop_150dpi_r16_c136{ width:41px; height:42px; background-position:-452px -2508px; }
.fil_profil{ width:41px; height:42px; background-position:-503px -2508px; }
.social_pas-suivre{ width:71px; height:42px; background-position:-554px -2508px; }
.fil_dossiers{ width:42px; height:42px; background-position:-635px -2508px; }
.fil_redac{ width:42px; height:42px; background-position:-687px -2508px; }
.fil_conseils{ width:41px; height:42px; background-position:-739px -2508px; }
.fil_qdn{ width:42px; height:42px; background-position:-790px -2508px; }
.fil_concours{ width:42px; height:42px; background-position:-842px -2508px; }
.fil_videos{ width:42px; height:42px; background-position:-894px -2508px; }
.fleche_volet_haut{ width:40px; height:37px; background-position:-946px -2508px; }
.fleche_volet_bas{ width:40px; height:37px; background-position:-996px -2508px; }
.picto_affichage{ width:54px; height:33px; background-position:-10px -2562px; }
.commu_loupe{ width:35px; height:33px; background-position:-1014px -753px; }
.right_fleche-right{ width:25px; height:25px; background-position:-1022px -10px; }
.coeur_comments{ width:29px; height:25px; background-position:-74px -2562px; }
