<div style="background-color:#C0C;">
    <form>
        <input type="text" name="recherche" value="Recherche…"/>
    	<input type="submit" />
    </form>
	<img src="img/1x1.png" class="sprite loupe" />
</div>
<div style="background-color:#F9F">
	<img src="img/1x1.png" class="sprite rs_icones fb"/> 
    <img src="img/1x1.png" class="sprite rs_icones tw"/>  
    <img src="img/1x1.png" class="sprite rs_icones ig"/> 
    <img src="img/1x1.png" class="sprite rs_icones pi"/> 
    <img src="img/1x1.png" class="sprite rs_icones yt"/> 
    <img src="img/1x1.png" class="sprite rs_icones gplus"/> 
    <img src="img/1x1.png" class="sprite rs_icones app"/>
</div>
<div style="height:625px; background-color:#CFF;">
	Pub
</div>
<div style="height:95px; background-color:#9A0082; color: #FFF;">
	<span><img src="img/1x1.png" class="sprite tdn_new" /></span> News
    <form>
    	<input type="text" value="Inscription" name="news">
    	<input type="button" value="go" name="go">
    </form>
</div>
<div style="height:245px; background-color:#CFF;">
    <h3>
      <img src="img/1x1.png" class="sprite dossier_icone" />
      Dossier de la r&eacute;dac
    </h3>
        <img src="#" alt="vignette" title="vignette" height="60px" width="60px" />
        <p>lvcbjmbjmdbcmbdzlc ùcbjdlmbcmdbzmbcdmz mcbdkzmbkmbckmbdzmbjkmb </p> 
</div>
<div style="height:135px; background-color:#CFF;">
	<h3>
    	<img src="img/1x1.png" class="sprite jeux_icone" />
        Jeux-Concours
    </h3>
    <p>Gagne un séjour au club Med!</p>
</div>
<div style="height:230px">
    <p>Espace d'autopromo</p>
</div>
<div style="height:80px; background-color:#4B6CBA;">
	<div class="fb-like-box" data-href="https://www.facebook.com/trucdenana" data-width="auto" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
</div>
<div style="height:390px; background-color:#AAA;">
    <h3>Twitter</h3>
    <a class="twitter-timeline"  href="https://twitter.com/TrucsdeNana"  data-widget-id="491917740337164288">Tweets de @TrucsdeNana</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div style="height:95px; background-color:#9C694F;">
    <img src="img/1x1.png" class="sprite btn_ig" />
</div>
