<!DOCTYPE html>
<html lang="fr-FR">
<head>
	<title>{% block title %}{% endblock %} | Trucs De Nana</title>
	<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css' )}}"type="text/css">
	<link href="{{ asset('assets/css/general.css' )}}" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="{{ asset('assets/bootstrap/js/bootstrap.js' )}}"></script>
	<script type="text/javascript" src="{{ asset( 'assets/bootstrap/js/jquery-1.11.1.js' )}}"></script>
</head>
<body class="container">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<header class="row">
	{% include "TDNCoreBundle:Default:header.html.twig" %}
</header>
<div>

	<nav class="row">
		{% include "TDNCoreBundle:Default:rubriqueScnd.html.twig" %}
		{% include "TDNCoreBundle:Default:rubriquePpale.html.twig" %}
	</nav>
    <div class="row">
        <section class="col-lg-8 blanc">
        	{% block col_G %}{% endblock %}
        </section>
        <section class="col-lg-4 blanc">
			{% include "TDNCoreBundle:Default:colD_HP.html.twig" %}
        </section>
    </div>
    <div class="row">
    	{% block actu_Com %}{% endblock %}
    </div>
    <footer class="row">
    	 {% include "TDNCoreBundle:Default:footer_hp.html.twig" %}
    </footer>
</div>
</body>
</html>