{% extends 'TDNCoreBundle:Topoi:TDNPageLarge.html.twig' %}
{% block title %}Bienvenue sur Trucs De Nana{% endblock %}
{%block col_G %}
<article>
    <h1>Le bloc slider</h1>
    <div>
    	<h2>Conseils D'expert</h2>
        
   </div>
   <div>
    	<h2>Questions de Nanas</h2>
        
   </div>
   <div>
    	<h2>Post de la redac'</h2>
        
   </div>
   <div>
    	<h2>Coups de coeur shopping</h2>
        
   </div>
   <div>
    	<h2>Ca cartonne sur TDN</h2>
       
   </div>
   <div>
    	<h2>Vidéos</h2>
      	
   </div>
{% endblock %}
{% block actu_Com %}
   <div class="col-lg-12">
    	<h2>Actus Communauté</h2>
        <p>TDN en Direct</p>
        <p>Les Membres</p>
   </div>
</article>
{% endblock %}
