<ul class="col-lg-12 rubriques bmenu">
    <li class="col-lg-1 alaune"><a href="#">A La Une</a></li>
    <li class="col-lg-1 beaute"><a href="#">Beauté</a></li>
    <li class="col-lg-1 deco"><a href="#">Déco</a></li>
    <li class="col-lg-2 geek"><a href="#">Geekette</a></li>
    <li class="col-lg-1 mode"><a href="#">Mode</a></li>
    <li class="col-lg-2 bienetre"><a href="#">Bien-etre</a></li>
    <li class="col-lg-2 sexo"><a href="#">Sexo-Psycho</a></li>
    <li class="col-lg-2 recette"><a href="#">Recettes</a></li>
</ul>
