<div class="bloc-bandeau">
	<div class="widget-liste-{{ typeEntite }} bandeau fond-vert row">		
		<h3 class="titre-icone">{{ titreEntite }}</h3>
		{% if activeParticipe is defined %}
		<a href="{#{ path() }#}" class="lien-propos propos-right">{{ activeParticipe }}</a>
		{% endif %}
	</div>
	<div class="flex-questions row">
	{% if recents is empty %}
		<p class="warning">{{ messageEmpty }}</p>
	{% else %}
		<div class="questions-recentes col-lg-6 col-sm-6">
			<h4>Les + récentes</h4>
		{% block corpsQuestionsRecentes %}{% endblock %}
		</div>
		<div class="questions-aimees col-lg-6 col-sm-6">
			<h4>Les + populaires</h4>
		{% block corpsQuestionsAimees %}{% endblock %}
		</div>
	{% endif %}
	</div>
</div>
