<ul class="col-lg-12 rubriques point">
    <li class="col-lg-2"><a href="#">Questions de nanas</a></li>
    <li class="col-lg-2">Conseils d'experts</li>
    <li class="col-lg-2">Post de la rédac</li>
    <li class="col-lg-2">Dossier</a></li>
    <li class="col-lg-2">Vidéos</li>
    <li class="col-lg-2">Concours</li>   
     
</ul>
	